# mysql and apache password files
application/config/database.php
.htpasswd

nbproject

# GitHub's suggestions for CodeIgniter
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
